services:
  server:
    build:
      context: .
    ports:
      - 8080:8080
    depends_on:
      db:
        condition: service_healthy
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/blueprintsdb
      - SPRING_DATASOURCE_USERNAME=sofia
      - SPRING_DATASOURCE_PASSWORD=Qwerty123
  db:
    image: postgres:16
    restart: always
    environment:
      - POSTGRES_DB=blueprintsdb
      - POSTGRES_USER=sofia
      - POSTGRES_PASSWORD=Qwerty123
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U sofia -d blueprintsdb" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db-data: